body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u246 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u247 {
  position:absolute;
  left:424px;
  top:36px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u249 {
  position:absolute;
  left:424px;
  top:123px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u251 {
  position:absolute;
  left:424px;
  top:404px;
  width:300px;
  height:32px;
  font-size:14px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1001px;
}
#u254 {
  position:absolute;
  left:1000px;
  top:0px;
  width:1px;
  height:1000px;
}
#u255 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
