body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u119 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u120 {
  position:absolute;
  left:415px;
  top:34px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u122 {
  position:absolute;
  left:415px;
  top:107px;
  width:398px;
  height:16px;
  font-size:14px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u124 {
  position:absolute;
  left:415px;
  top:205px;
  width:359px;
  height:32px;
  font-size:14px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u126 {
  position:absolute;
  left:415px;
  top:247px;
  width:411px;
  height:16px;
  font-size:14px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u128 {
  position:absolute;
  left:415px;
  top:279px;
  width:411px;
  height:16px;
  font-size:14px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1001px;
}
#u131 {
  position:absolute;
  left:1000px;
  top:0px;
  width:1px;
  height:1000px;
}
#u132 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
